{
    "plugins": [
      ["module-resolver", {
        "root": ["./src"],
        "alias": {
          "#images": "./src/assets/images",
          "#components": "./src/components",
          "#screens": "./src/screens"
        }
      }]
    ]
  }